body, html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.65);
  background-color: #24292e
}

img {
  border-style: none
}

header {
  padding: 40px 16px
}

.container {
  max-width: 980px;
  margin: 0 auto
}

.text-center, footer {
  text-align: center
}

.nav {
  display: flex;
  list-style: none;
  font-size: 16px;
  justify-content: center;
  padding-left: 0;
  margin-top: 0;

margin-bottom:

0
.nav a {
  display: inline-block !important;
  margin: 8px;
  text-decoration: none
}

.nav a:hover {
  text-decoration: underline
}

.nav a.current, footer a {
  color: #24292e
}

.hero {
  padding: 40px 16px 0
}

.features h2, .hero h1 {
  font-size: 40px;
  font-weight: 300;
  margin: 0
}

.hero p, h2 {
  font-weight: 300
}

.cta, .hero p {
  font-size: 18px
}

.hero p {
  margin: 0 0 24px;
  opacity: .75
}

.cta {
  padding: .9em 1.25em;
  color: rgba(36, 41, 46, .75);
  background: 0 0;
  border: 1px solid rgba(36, 41, 46, .75);
  border-radius: .3em;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer
}

.cta:hover {
  background: rgba(36, 41, 46, .75);
  color: #fff
}

.cta.primary {
  border-color: rgba(62, 173, 63, .5)
}

.cta.primary:hover {
  background: #3ead3f;
  color: #fff
}

.screenshot {
  max-width: 100%;
  margin-top: 40px
}

.screenshot img {
  max-width: 1072px;
  width: 100%
}

h2 {
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 16px
}

.features {
  display: flex;
  font-size: 16px;
  flex-wrap: wrap
}

.features h2 {
  font-size: 24px;
  margin: 8px 0
}

.features p {
  opacity: .75;
  margin-top: 0
}

.features div {
  flex: 1;
  padding: 16px 24px;
  min-width: 230px
}

hr {
  margin: 80px auto;
  border-color: rgba(255, 255, 255, 0.65);
  width: 100px
}

footer {
  opacity: .5;
  padding-bottom: 40px
}

footer svg {
  position: relative;
  top: 5px
}

footer a {
  text-decoration: none
}

pre {
  text-align: left;
  background: #83847f;
  color: #fff;
  padding: 15px;
  width: 100%;
  overflow-x: auto;
  box-sizing: border-box
}

.cta.primary, a {
  color: #3ead3f
}